<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <!-- General description of your web application -->

    <display-name>Fedora Test Case</display-name>
    <description>
		The Fedora Test Case is a project to research the different aspects of 
		the Fedora Repository by building different applications with limited 
		functionality. By building this we will get a good understanding of 
		the different aspects of Fedora and also gives us insight in what will 
		be the best way of using it in the VLE. 
    </description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>olivier.van.acker@broadbandcapital.co.uk</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>
  
    <servlet>
		<servlet-name>upload</servlet-name>
        <servlet-class>net.humberng.ftc.UploadPicture</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
            <servlet-name>upload</servlet-name>
            <url-pattern>/uploadPic</url-pattern>
    </servlet-mapping>

<session-config>
      <session-timeout>30</session-timeout>
    </session-config>

</web-app>
